@import 'base';

.site-name {
  @extend %invisible-element;
}

.pane-title {
  margin-top: 0;
}

.view-cbe-events-panes .views-row {
  padding: 0.5em 0;
}

.form-item .form-text {
  @include box-sizing(border-box);
  border: 0;
  border-width: 1px;
  display: block;
  padding: 0.6em;
  width: 100%;
}

.mailchimp-signup-subscribe-form {
  @include clearfix;

  div {
    position: relative;
  }

  .form-type-item {
    margin-top: 0;
  }

}

.mailchimp-newsletter-mergefields {
  width: 100%;

  .form-item label {
    @include squish-text;
  }
}

.form-item-mergevars-EMAIL {

  .form-text {
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-width: 1px;
  }

}

.front main {
  padding-left: 0;
  padding-right: 0;
}

.clean-cbe-feature {
  position: relative;
  margin-bottom: 1.5em;
}

.front .views-responsive-grid {
  display: table;
  table-layout: fixed;
  width: 100%;

  .views-column {
    padding: 0;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

}

#quicktabs-front_page {

  .quicktabs-tabs {
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .quicktabs-tabs li {
    display: table-cell;
    float: none;
    padding: 0;
    border-right-width: 5px;
  }

  .quicktabs-tabs li:last-child {
    border: 0;
  }

  .quicktabs-tabs a {
    display: block;
    padding: 1ex;
  }

}

.clean-cbe .menu {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    list-style: none;
  }

  a {
    @include box-sizing(border-box);
    display: block;
  }

}

.pane-menu-menu-mscm-front-page-links {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding-top: 50%;

  .menu {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .menu li {
    height: percentage(1/3);
    text-align: center;
  }

  .menu a {
    display: block;
    width: 80%;
    padding: 1em 0;
    border-width: 3px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
  }

}

.pane-menu-menu-front-page-social-media {

  .menu {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  li {
    display: table-cell;
  }

  li:first-child {
    padding: 0;
  }

  .menu a {
    width: 48px;
    height: 48px;
    margin: 0 auto;
  }

}

.front .clean-cbe-aside > div {
  margin-bottom: 1em;
}

.view-cbe-news {

  .views-row {
    padding: 1em;
    border-bottom-width: 1px;
  }

  .views-row:last-child {
    border-bottom: 0;
  }

}

.clean-cbe-tabs .panel-pane {
  margin-bottom: 1em;
}

$zen-column-count: 2;

.clean-cbe-aside {

  .pane-mailchimp-signup-cbe-signup-form {
    @include zen-grid-item-base();
    @include zen-grid-item(1,1);
  }

  .panel-pane {
    @include zen-grid-item-base();
    @include zen-grid-item(1,1,right);
    @include zen-clear(right);
  }

}

@media screen and (min-width: 550px) {

  .pane-menu-menu-mscm-front-page-links {
    position: static;
    padding-top: 0;

    .menu {
      display: table;
      table-layout: fixed;
    }

    .menu li {
      height: auto;
      display: table-cell;
    }

    .menu a {
      margin-top: -2em;
    }

  }

  .clean-cbe-aside {

    .pane-mailchimp-signup-cbe-signup-form {
      @include zen-grid-item(2,1);
      @include zen-clear(left);
      @include zen-grid-item-base(0);
    }

    .panel-pane {
      @include zen-grid-item(2,1);
      @include zen-clear(left);
      @include zen-grid-item-base(0);
    }

  }

}

@media screen and (min-width: 800px) {

  .clean-cbe-tabs {
    $zen-column-count: 2;

    .pane-quicktabs-front-page {
      @include zen-grid-item(1,1);
      @include zen-clear(left);
    }

    .pane-quicktabs-xt-front-page-qt-content {
      @include zen-grid-item(1,1,right);

      & ~ .panel-pane {
        @include zen-grid-item(1,1);
        @include zen-clear(left);
      }

    }

  }

  .view-cbe-news .views-row {
    margin-bottom: 1em;
    border-bottom: 0;

    &:last-child {
      margin-bottom: 0;
    }

  }

  #quicktabs-front_page {

    .quicktabs-tabs {
      display: block;
    }

    .quicktabs-tabs li {
      display: block;
      padding: 0;
      border: 0;
    }

    .quicktabs-tabs a {
      display: block;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 36px;
    }

  }

  .pane-menu-menu-front-page-social-media {

    .menu {
      float: right;
      margin-right: 36px;
      width: auto;
    }

    li {
      padding-left: 1ex;
    }

    li:first-child {
      padding: 0;
    }

    .menu a {
      width: 48px;
      height: 48px;
    }

  }

}
